.news-block:nth-of-type(1) {
    color: #FF0000;
    float: left;
    width: 33.3%;
}
.news-block:nth-of-type(2) {
    color: #00FF00;
    float: inherit;
     width: 33.3%;
}
.news-block:nth-of-type(3) {
    color: #0000FF;
    float: right;
}